<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="Halo，DDD，领域驱动，代码防腐，业务架构治理，中台建设" />
	<meta name="description" content="Halo，DDD，领域驱动，代码防腐，业务架构治理，中台建设" />
	<!-- 网页标签标题 -->
	<title>Halo光环-专注于中台与业务架构治理</title>
	<link rel="shortcut icon" href="<%= rootPath %>/img/halo/favicon_1.ico"/>
	<link rel="stylesheet" href="<%= rootPath %>/build/<%= page %>.css" />
</head>
<body>
	<div id="root"><%- __html %></div>
	<script src="https://f.alicdn.com/react/15.4.1/react-with-addons.min.js"></script>
	<script src="https://f.alicdn.com/react/15.4.1/react-dom.min.js"></script>
	<script>
		window.rootPath = '<%= rootPath %>';
  </script>

	<script src="<%= rootPath %>/build/<%= page %>.js"></script>
	<script src="<%= rootPath %>/build/uxqeumqmnhbbptwhvgqg.js"></script>
</body>
</html>